@model IEnumerable<IELChak.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Categoría Cursos</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Index" asp-route-sortOrder ="@ViewData["NombreSortParm"]">@Html.DisplayNameFor(model => model.Nombre)</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescripcionSortParm"]">@Html.DisplayNameFor(model => model.Descripcion)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
